
<div class="container" *ngIf="item">
    <section>
        <img class="esh-catalog-thumbnail" src="{{item.pictureUri}}" />

        <div class="esh-catalog-name">
        <span>{{item.name}} - {{item.price}}</span>
        </div>
        <div class="esh-catalog-price">
        <span>{{item.price | number:'3.2-2'}}</span>
        </div>

    </section>
    <section>
        <h2>Comments</h2>
    </section>
    <ul *ngIf="comments">
        <li *ngFor="let comment of comments.data">
            {{comment.creationDate}}: {{comment.text}}
        </li>
    </ul>
    <form [formGroup]="form" (ngSubmit)="saveComment()">
        <label>Ingresa tu comentario</label>
        <textarea formControlName="text" maxlength="500"></textarea>
        <span class="error" *ngIf="!formSent || form.controls.text.valid"></span>
        <span class="error" *ngIf="formSent && form.controls.text.errors?.required">Ingresa el comentario</span>
        <input type="submit" value="Guardar" />
    </form>



</div>

